<!-- Indicators -->
<ol class="carousel-indicators">
	<li data-target="#MainHomeSlider" data-slide-to="0" class="active"></li>
	<li data-target="#MainHomeSlider" data-slide-to="1"></li>
	<li data-target="#MainHomeSlider" data-slide-to="2"></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner">
	<div class="item active">
		<img src="//static.YourProjectz.com/img/pic1.jpg" alt="...">
		<div class="carousel-caption">
			<h1 style="color: black;">Waaaak!</h1>
		</div>
	</div>
	<div class="item">
		<img src="//static.YourProjectz.com/img/pic2.jpg" alt="...">
		<div class="carousel-caption">
			<h1 style="color: white;">&gt;_&gt;</h1>
		</div>
	</div>
	<div class="item">
		<img src="//static.YourProjectz.com/img/pic3.jpg" alt="...">
		<div class="carousel-caption">
			<h1 style="color: black;">It sure is a beautiful taco.</h1>
		</div>
	</div>
</div>

<!-- Controls -->
<a class="left carousel-control" href="#MainHomeSlider" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="#MainHomeSlider" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
</a>