<!--li class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"-->
<a href="//nicegamez.com/" id="NavHome" class="navbar-brand"><img src="//static.nicegamez.com/img/display/nicegamez.png" alt="NiceGamez.com &raquo; Home" class="sheer fill" style="margin-top: -26px;" /></a>
<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-screenshot"></span> Genres<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="//nicegamez.com/genre">All Genres...</a></li>
          <li class="divider"></li>
          <li><a href="//nicegamez.com/genre/action">Action</a></li>
          <li><a href="//nicegamez.com/genre/adventure">Adventure</a></li>
          <li><a href="//nicegamez.com/genre/strategy">Strategy</a></li>
          <li><a href="//nicegamez.com/genre/rpg">RPG</a></li>
          <li><a href="//nicegamez.com/genre/indie">Indie</a></li>
          <li><a href="//nicegamez.com/genre/mmo">MMO</a></li>
          <li><a href="//nicegamez.com/genre/casual">Casual</a></li>
          <li><a href="//nicegamez.com/genre/simulation">Simulation</a></li>
          <li><a href="//nicegamez.com/genre/racing">Racing</a></li>
          <li><a href="//nicegamez.com/genre/sports">Sports</a></li>
        </ul>
    </li>
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bullhorn"></span> Platforms<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="//nicegamez.com/platform">All Platforms...</a></li>
          <li class="divider"></li>
          <li><a href="//nicegamez.com/platform/steam">Steam</a></li>
          <li><a href="//nicegamez.com/platform/windows">Windows</a></li>
          <li><a href="//nicegamez.com/platform/linux">Linux</a></li>
          <li class="divider"></li>
          <li><a href="//nicegamez.com/platform/xbox">Xbox</a></li>
          <li><a href="//nicegamez.com/platform/playstation">PlayStation</a></li>
          <li><a href="//nicegamez.com/platform/wii">Wii</a></li>
          <li class="divider"></li>
          <li><a href="//nicegamez.com/platform/ios">iOS</a></li>
          <li><a href="//nicegamez.com/platform/android">Android</a></li>
        </ul>
    </li>
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cloud-download"></span> News<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">New releases</a></li>
          <li><a href="#">Articles</a></li>
          <li><a href="#">Updates</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
    </li>
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-shopping-cart"></span> Shop <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Shop</a></li>
          <li><a href="#">Games</a></li>
          <li><a href="#">Shirts</a></li>
          <li><a href="#">Merchandise</a></li>
          <li><a href="#">Game cards</a></li>
          <li><a href="#">Rental</a></li>
          <li><a href="#">Promos</a></li>
        </ul>
    </li>
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-comment"></span> Connect <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Shop</a></li>
          <li><a href="#">Games</a></li>
          <li><a href="#">Shirts</a></li>
          <li><a href="#">Merchandise</a></li>
          <li><a href="#">Game cards</a></li>
          <li><a href="#">Rental</a></li>
          <li><a href="#">Promos</a></li>
        </ul>
    </li>
</ul>
<button type="button" class="btn btn-primary pull-right navbar-btn" data-toggle="modal" data-target="#SigninModal" >Sign in | Register</button>
<!--/li-->