<!--li class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"-->
<a href="//YourProjectz.com/" id="NavHome" class="navbar-brand"><img src="//static.YourProjectz.com/img/display/YourProjectz.png" alt="YourProjectz.com &raquo; Home" class="sheer fill" style="margin-top: -26px;" /></a>
<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-screenshot"></span> Genres<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="//YourProjectz.com/genre">All Genres...</a></li>
          <li class="divider"></li>
          <li><a href="//YourProjectz.com/type_instance/thing">Menu Item</a></li>
          <li><a href="//YourProjectz.com/type_instance/thing">Menu Item</a></li>
          <li><a href="//YourProjectz.com/type_instance/thing">Menu Item</a></li>
          <li><a href="//YourProjectz.com/type_instance/thing">Menu Item</a></li>
          <li><a href="//YourProjectz.com/type_instance/thing">Menu Item</a></li>
        </ul>
    </li>
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bullhorn"></span> Categories<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="//YourProjectz.com/platform">All Platforms...</a></li>
          <li class="divider"></li>
          <li><a href="//YourProjectz.com/type_instance/thing">Menu Item</a></li>
          <li><a href="//YourProjectz.com/type_instance/thing">Menu Item</a></li>
          <li><a href="//YourProjectz.com/type_instance/thing">Menu Item</a></li>
          <li class="divider"></li>
          <li><a href="//YourProjectz.com/type_instance/thing">Menu Item</a></li>
          <li><a href="//YourProjectz.com/type_instance/thing">Menu Item</a></li>
          <li><a href="//YourProjectz.com/type_instance/thing">Menu Item</a></li>
          <li class="divider"></li>
          <li><a href="//YourProjectz.com/type_instance/thing">Menu Item</a></li>
          <li><a href="//YourProjectz.com/type_instance/thing">Menu Item</a></li>
        </ul>
    </li>
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cloud-download"></span> News<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">New releases</a></li>
          <li><a href="#">Articles</a></li>
          <li><a href="#">Updates</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
    </li>
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-shopping-cart"></span> Shop <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Shop</a></li>
          <li><a href="#">Promos</a></li>
        </ul>
    </li>
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-comment"></span> Connect <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Shop</a></li>
          <li><a href="#">Promos</a></li>
        </ul>
    </li>
</ul>
<button type="button" class="btn btn-primary pull-right navbar-btn" data-toggle="modal" data-target="#SigninModal" >Sign in | Register</button>
<!--/li-->