* html, html
{
    background-color: #F4F4F4;
    position: absolute;
    left: 0px; top:0px;
    width: 100%; height: 100%;
    z-index: 1;   
}

html, body, * html body, .sheer{ margin: 0px; padding: 0px; border: 0px; overflow: hidden; }
body{position: absolute;  padding-bottom: 220px; width: 100%; }

#Screen
{
    position: relative; z-index: 2;    
    height: 100%; width: 100%;  

    text-align: center;
    vertical-align: middle;
    background-color: #F4F4F4;
    background: #F4F4F4 url('../img/background/pillar2.png') repeat-x;
    background-position: right bottom;    
}


#Screen #Stage
{
    display: inline-block;
    position: relative;
    top: 50%; left: 50%;
    margin-left: -372px;
    margin-top: -260px;
    width: 744; height: 520;
    z-index: 10;
    border: 1px solid black;
}



#Ribbon
{
    position: absolute; 
    left: 0px; width: 100%;
    margin-top: -220px;    z-index: 40;

    bottom: 0px; 
    height: 220px;
    background: #fff url('../img/background/ribbon320-a.png') repeat-x;
    background-position: 0 0px;
    
    margin-top: -220px;
    overflow: hidden;
}





#ApproachStruct
{
    position: absolute;
    left: 100%;
    margin-left: -280px;
    margin-top: -200px;
    
    top: 100%;
    height: 320px;
    width: 320px;
    z-index: 55;
    
    filter: alpha(opacity=19);
    -khtml-opacity: 0.19;
    -moz-opacity: 0.19;
    opacity: 0.19;

}






#footer
{
    color: white;
    height:32px;
    width: 100%;
    top: 100%;
    position: absolute;
    
    margin-top: -32px;
    padding: 0px;
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    overflow: hidden;
    z-index: 50;
}

#footer li
{
    list-style: none;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0px;
    display: inline-block;
    position: relative;
    height: 32px;
    border-right: 1px;
    border-right-style: solid;
    border-left: 1px;
    border-left-style: solid;
    border-color: #334;
    width: 108px;
    z-index: 100;
    background-color: #334;
    color: #CCE;
    -webkit-border-top-left-radius: 54px;
    -webkit-border-top-right-radius: 54px;
    -moz-border-radius-topleft: 54px;
    -moz-border-radius-topright: 54px;
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;

    text-shadow: 0 1px 1px rgba(0,0,0,.3);    
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}




#footer .notice
{
    width: auto;
    padding: 2px 4px 1px 4px;
    
    
    position: absolute;
    right: 8px;
    font-size: 10px;
    bottom: 0px;
    line-height: 16px;
    text-align: right;
    border-right-style: none;
    border-left-style: none;
    height: 16px;
    z-index: 99;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 8px;
    
    behavior: url('PIE.css');
}


#footer .SubNav{ display: none;}

#Dynamics{display: none;}


#footer #nav0{ background-color: white; color: #334;}
#footer #nav1{ background-color: #5af; color: #27b;}
#footer #nav2{ background-color: #7f7; color: #4b4;}
#footer #nav3{ background-color: #e4d842; color: #a49232;}


#footer #nav0:hover{ background-color: bbb; color: #eee;}
#footer #nav1:hover{ background-color: #27b; color: #334;}
#footer #nav2:hover{ background-color: #4b4; color: #334;}
#footer #nav3:hover{ background-color: #a49232; color: #334;}

