* html, html,body{    position: absolute; z-index: 1;    width:100%; height: 100%; margin: 0px;    padding: 0px;    border: 0px;    left: 0px; top:0px;    overflow-x:hidden;}
.sheer{ margin: 0px; padding: 0px; border: 0px; }
.fill{width:100%;left:100%;}

body{ background-color: white !important;}

ul,li,ul li{ list-style: none; }
#Dynamics{display: none;}

#Stage
{
    width: 100%;
    top: 0px; left: 0px;
    margin: 0px; border: 0px; padding: 0px;
    position: absolute;
    background-color: #111;
    z-index: 1;
}


#bs-example-navbar-collapse-1{ padding-left: 0px;}
#Navigation
{
    position: absolute;   
    top: 20px;
    left: 50%; margin-left: -40%; /*  margin-left is negative half the size of the box    */
    padding-left: 0px !important;
    width: 80%;
    background-color: #101010;
    border: 1px solid #888;
    z-index: 1000;
}
#Navigation a{ color: white; }
#Navigation ul.dropdown-menu a{ color: black; }
#Navigation li.open a.dropdown-toggle{ background-color: #444; }

#Content{ padding-top: 22px; background-color: #aaa; border-top: 8px solid #333;border-bottom: 8px solid #333;  color: #111; display: inline-block; width: 100%; position: relative; top:500px; }

#Screen
{
    position: absolute;
    
    top: 144px; left: 0px;    width: 100%;
/*    left: 50%; margin-left: -570px; /*  margin-left is negative half the size of the box    */

    background-color: #ddd;
}
#Screen.homepage
{
    position: absolute;
    
    top: 0px; left: 0px;    width: 100%;
/*    left: 50%; margin-left: -570px; /*  margin-left is negative half the size of the box    */

    background-color: #ddd;
}

#NavHome{
    text-decoration: none;
    color: #eee;
    font-size: 32px;
    font-family: 'Orbitron', sans-serif;
}

#RememberMe, #LoginModal{
    margin-bottom: 0px;
    padding-bottom: 7px;
}
#RememberMe .checkbox { display: inline-block; }
#ModalLoginButton { margin-left: 10px}
#ModalRegisterButton{
    background-color: #F3F781;
}